@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

body {
    background-color: var(--Very-light-gray);
    height: 100vh;
    display: flex;
    font-family: "Lexend Deca", sans-serif;
}
h1 {
    color: var(--Very-light-gray);
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    margin: 1rem 0;
}

p {
    color: var(--Transparent-white);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin: 2rem 0;
}

button {
    background-color: var(--Very-light-gray);
    width: 9rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    margin-top: 3rem;
}
img {
    width: 65px;
}

.container {
    width: 60%;
    height: fit-content;
    display: flex;
    margin: auto;
}

.card-container {
    padding: 3rem;
}

.sedans {
    background-color: var(--Bright-orange);
    border-radius: 0.5rem 0 0 0.5rem;
}
.sedans button {
    color: var(--Bright-orange);
}

.suvs {
    background-color: var(--Dark-cyan);
}
.suvs button {
    color: var(--Dark-cyan);
}

.luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 0.5rem 0.5rem 0;
}
.luxury button {
    color: var(--Very-dark-cyan);
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--Very-light-gray);
    border: 1px solid var(--Very-light-gray);
}

@media (max-width: 500px){
    .container {
        width: 80%;
        flex-direction: column;
    }
    .card-container {
        padding: 2.5rem;
    }
    .sedans {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .luxury {
        border-radius: 0 0 0.5rem 0.5rem;
    }
    p {
        margin: 0;
    }
    button {
        width: 60%;
        margin-top: 1rem;
    }
}




